@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('SF UI Display'),
    url('../assets/fonts/SFUIDisplay-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('SF UI Display'),
    url('../assets/fonts/SFUIDisplay-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('SF UI Display'),
    url('../assets/fonts/SFUIDisplay-Bold.woff2') format('woff2');
}

:root {
  --background-color: #101010;
  --text-color: #ffffff;
  --accent-color: #23c3b2;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-family: 'SF UI Display', sans-serif;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}
