.mobile-container {
  width: 425px;
  margin: 0 auto;
}

.hero {
  position: relative;

  padding: 200px 50px;

  /* background-image: url(../assets/images/running-people.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: rgba(0, 0, 0, 0.5);
}

.hero:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url(../assets/images/running-people.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-size: 30px;
  font-weight: 700;
  line-height: calc(36 / 30);
}

.hero-text {
  position: relative;
  max-width: 300px;
  margin: 0 auto;

  font-size: 16px;
  font-weight: 400;
  line-height: calc(20 / 16);
}

.hero-btn-burger {
  position: absolute;
  top: 15px;
  left: 15px;
}

.hero-icon-burger {
  width: 16px;
  height: 12px;

  fill: #ffffff;
}

.hero-btn-arrow {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-icon-arrow {
  width: 14px;
  height: 7.5px;

  fill: #ffffff;
}

.possibility {
  padding-top: 80px;
}

.possibility-title {
  width: 275px;
  margin: 0 auto;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
  line-height: calc(28 / 24);
}

.possibility-text {
  width: 275px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(20 / 15);
}

.possibility-img {
  margin: 0 auto;

  position: relative;
  z-index: -1;
}

.about {
  border: 8px solid var(--accent-color);

  background-image: url(../assets/images/channels.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about > .gradient {
  padding: 36px 50px 70px;
}

.about-text {
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.about-text.about-text-desc {
  max-width: 260px;
  margin-bottom: 40px;
}

.about-title-subs {
  margin-bottom: 110px;

  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.about-title {
  max-width: 280px;
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}

.about-text-price {
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: 700;
  line-height: calc(30 / 24);
  letter-spacing: 1px;
  text-transform: lowercase;
}

.about-try-btn {
  max-width: 200px;
  height: 55px;
  padding: 20px 56px;
  margin-bottom: 10px;

  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;

  border-radius: 5px;
  background: var(--accent-color);
}

.about-condition-text {
  width: 160px;
  margin-bottom: 20px;

  color: rgba(255, 255, 255, 0.6);

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.833px;
  text-transform: capitalize;
}

.about-more-btn {
  color: #e5e5e5;

  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.sponsors {
  padding-top: 92px;
  padding-right: 16px;
  padding-left: 16px;
}
.sponsors-text-container {
  padding-left: 34px;
}

.sponsors-title {
  max-width: 310px;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
  line-height: calc(28 / 24);
}

.sponsors-text {
  max-width: 290px;
  margin-bottom: 10px;

  font-size: 15px;
  font-weight: 400;
  line-height: calc(20 / 15);

  opacity: 0.8;
}

.sponsors-img {
  position: relative;
  z-index: -1;

  margin: 0 auto;
}

.connect {
  padding: 100px 16px 130px;
}

@media screen and (min-width: 375px) {
  .connect {
    padding: 100px 50px 130px;
  }
}

.connect-title {
  max-width: 315px;
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 700;
}

.connect-adv-list {
  width: 300px;
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 40px 15px;
}

.connect-adv-item {
  width: 140px;
}

.connect-adv-title {
  font-size: 20px;
  font-weight: 700;
}

.connect-adv-text {
  font-size: 15px;
  font-weight: 400;
}

.connect-btn {
  min-width: 200px;
  height: 55px;
  padding: 20px 50px;

  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;

  border-radius: 5px;
  background: var(--accent-color);
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(16, 16, 16, 0) 37.5%,
    #101010 90.39%
  );
}
